/* * {
	box-sizing: border-box;
} */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

body.is-modal-opened {
	overflow: hidden;
}

a {
	text-decoration: none;
}

.app {
	background-color: #333;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.container {
	padding: 0 60px;
	box-sizing: border-box;
	width: 100%;
}
.container__row {
	display: flex;
	flex: 1 0 auto;
	justify-content: space-between;
}

@media screen and (max-width: 997px) {
	.container {
		padding: 0 20px;
	}
}


/* UI */
title {
	line-height: 1.2;
	margin: 0;
}
.title-large {
	font-weight: 400;
	font-size: 32px;
}
.title-uppercase {
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0;
}
.title-uppercase-bold {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}


/* Animation for icons */
.scale a svg {
	transition: 1s;
	display: block;
}
.scale a svg:hover {
	transform: scale(1.1);
	cursor: pointer;
}

/* Animation for small cards / main */
.scale-more img.small {
	transition: 1s;
	display: block;
}
.scale-more img.small:hover {
	transform: scale(1.1);
	cursor: pointer;
}

/* Animation for big cards / main */
.scale-less img.big {
	transition: 1s;
	display: block;
}
.scale-less img.big:hover {
	transform: scale(1.05);
	cursor: pointer;
}

/* Animation for cards / shop */
.scale-less.box {
	transition: 1s;
	display: block;

	/* add to fix webkit bug jitter */
	-webkit-backface-visibility: hidden;
	-webkit-transform: perspective(1000px);
}
.scale-less.box:hover {
	transform: scale(1.05);
	background-color: #02B3CE;
	cursor: pointer;
}